body {
    text-align: center;
    background-color: #B23A48;
}

h1 {
    font-size: 5rem;
}

#genreForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

#genre {
    width: 10rem;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#playBtn {
    width: 7rem;
    height: 30px;
    border-radius: 20px;
    border-style: none;
    background-color: #FCB9B2;
    font-weight: 600;
}

#movieInfo {
    margin-top: 500px;
}

.fa-solid {
    font-size: 2rem;
    margin: 5px;
}

#likeBtn {
    background-color: #FF3366;
    margin: 5px;
}

#dislikeBtn {
    background-color: #2EC4B6;
    margin: 5px;
}